:root {
    /* color */
    --color-light-grey: #efefef;
    --color-light-blue: #B2C7D9;

    --color-normal-blue: #A9BDCE;

    --color-black: #3f454d;
    --color-yellow: #FFEB33;
    --color-white: #FFFFFF;
  
    /* size */
    --base-radius: 20px;
    --base-space: 10px;
}

body {
    background-color: var(--color-light-grey);
}

.container {
    background-color: var(--color-light-blue);

    width: 712px;
    height: 90vh;

    margin-left: auto;
    margin-right: auto;
    
    border-top-left-radius: calc(var(--base-space) * 2);
    border-top-right-radius: calc(var(--base-space) * 2);
}

.up {
    background-color: var(--color-normal-blue);

    width: inherit;
    height: 80px;

    display: inline-block;

    border-top-left-radius: var(--base-radius);
    border-top-right-radius: var(--base-radius);
}

.img {
    margin: calc(var(--base-space) * 1.5);
    border-radius: var(--base-radius);

    vertical-align: middle;
}

.up_text {
    display: inline-table;

    vertical-align: middle;
}

.notice {
    background-color: #ffffffb7;

    width: 95%;
    height: 60px;

    margin-left: auto;
    margin-right: auto;

    margin-top: calc(var(--base-space) * 0.5);

    text-align: center;
}

.notice_text {
    display: inline-table;
    color: rgb(90, 90, 90);
}

.box {
    display: inherit;
    width: 100%;
    line-height: normal;
}

.left { 
    background-color: var(--color-white); 

    margin-top: var(--base-space);
    margin-left: var(--base-space);
    max-width: 70%;
    border-radius: var(--base-radius);
    float: left;
}

.right {
    background-color: var(--color-yellow);

    margin-top: var(--base-space);
    margin-right: var(--base-space);
    max-width: 70%;
    border-radius: var(--base-radius);
    float: right;
}

.time {
    /* display: inline-block; */
    /* height: inherit; */
    vertical-align: bottom;
}

.content {
    display: table-cell;
    vertical-align: middle;
    padding: calc(var(--base-space) * 2);
}

.input {
    width: inherit; 
    /* height: 130px;  */
    height: 10vh;
    background-color: var(--color-white);
}

.input_text {
    border: none;

    width: 83%;
    height: 40%;

    padding-left: var(--base-space);
}

button {
    background-color: var(--color-yellow); 
    border: none;
    float: right;
    width: 100px; 
    height: 50px; 
    
    margin-top: calc(var(--base-space) * 0.5);
    margin-right: calc(var(--base-space) * 0.5);
}